body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    color: #3f5c47;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .konda{
      font-family:'Indie Flower';
  }
  .right{
      float:right;
      margin:50px;
      margin-left:10px;
      padding:60px;
  }
  .konda-icon{
      width:50px;
  }